<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QBFrameworkVehicleBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <QBFrameworkVehicleBuilder.Properties.Settings>
            <setting name="ftpUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="firstSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpUpdateDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpCloudDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="skipRefreshOnImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignoreDuplicatesOnImport" serializeAs="String">
                <value>False</value>
            </setting>
        </QBFrameworkVehicleBuilder.Properties.Settings>
    </userSettings>
</configuration>